<div id="top">
	<h1><a href="index.html">Ninject</a></h1>
	<ul id="navigation">
		<li id="navigation-download"><a href="download.html">Download it</a></li>
		<li id="navigation-extensions"><a href="extensions.html">Extensions</a></li>
		<li id="navigation-contribute"><a href="contribute.html">Contribute</a></li>
		<li id="navigation-learn"><a href="learn.html">Visit the Dojo</a></li>
		<li id="navigation-community"><a href="community.html">Speak up</a></li>
		<li id="navigation-sponsors"><a href="sponsors.html">Sponsors</a></li>
		<li id="navigation-merchandise"><a href="merchandise.html">Merchandise</a></li>
	</ul>
	<div id="selected-marker" />
</div>
<a href="http://github.com/ninject/ninject">
	<img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
