<script type="text/javascript" src="Scripts/shCore.js"></script>
<script type="text/javascript" src="Scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="Scripts/shBrushCss.js"></script>
<script type="text/javascript" src="Scripts/shBrushJava.js"></script>
<script type="text/javascript" src="Scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="Scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="Scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="Scripts/shBrushSql.js"></script>
<script type="text/javascript" src="Scripts/shBrushVb.js"></script>
<script type="text/javascript" src="Scripts/shBrushXml.js"></script>
<script type="text/javascript">
	SyntaxHighlighter.config.strings.expandSource = '+ expand source';
	SyntaxHighlighter.config.strings.help = '?';
	SyntaxHighlighter.config.strings.alert = 'SyntaxHighlighter\n\n';
	SyntaxHighlighter.config.strings.noBrush = 'Can\'t find brush for: ';
	SyntaxHighlighter.config.strings.brushNotHtmlScript = 'Brush wasn\'t configured for html-script option: ';
	SyntaxHighlighter.defaults['pad-line-numbers'] = false;
	SyntaxHighlighter.defaults['toolbar'] = false;
</script>
<link type="text/css" rel="stylesheet" href="Content/css/shCoreDefault.css"/>